<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- mapping model classes with api interface -->
    <preference for="Hoan\Student\Api\Data\StudentInterface" type="Hoan\Student\Model\Student" />
    <preference for="Hoan\Student\Api\Data\StudentSearchResultsInterface" type="Hoan\Student\Model\StudentSearchResults" />
    <preference for="Hoan\Student\Api\StudentRepositoryInterface" type="Hoan\Student\Model\StudentRepository" />

    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Hoan\Student\Api\Data\StudentInterface" xsi:type="string">Hoan\Student\Api\StudentRepositoryInterface</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Hoan\Student\Model\Api\SearchCriteria\StudentCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Hoan\Student\Model\StudentRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Hoan\Student\Model\Api\SearchCriteria\StudentCollectionProcessor</argument>
        </arguments>
    </type>

    <!-- create virtual class -->
    <virtualType name="StudentListing" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<!-- U can find some arguments in SearchResult class -->
		<arguments>
			<argument name="mainTable" xsi:type="string">hoan_student</argument> <!-- database table name -->
			<argument name="resourceModel" xsi:type="string">Hoan\Student\Model\ResourceModel\Student\Collection</argument> <!-- ResourceModel Class -->
		</arguments>
	</virtualType>
    <!-- declare the collection for Uicomto use -->
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
                <!-- virtual class created above with name = data source -->
				<item name="student_listing_data_source" xsi:type="string">StudentListing</item>
			</argument>
		</arguments>
	</type>

    <!-- for fulltext search Uicom -->
    <type name="Hoan\Student\Ui\DataProvider\StudentDataProvider">
        <arguments>
            <argument name="additionalFilterPool" xsi:type="array">
                <item name="fulltext" xsi:type="object">Hoan\Student\Ui\Component\Listing\FulltextFilter</item>
            </argument>
        </arguments>
    </type>

    <!-- image upload config -->
    <type name="Hoan\Student\Model\ImageUploader">
        <arguments>
            <!-- two Path to store uploaded image in pub/media -->
            <argument name="baseTmpPath" xsi:type="string">student/tmp/image</argument>
            <argument name="basePath" xsi:type="string">student/image</argument>
            <!-- allowed format type -->
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="png" xsi:type="string">png</item>
                <item name="gif" xsi:type="string">gif</item>
            </argument>
        </arguments>
    </type>
</config>